# JS
node_modules/
.next/
.pnpm-store/
.turbo/
dist/
build/

# Go
server
apps/api/server
apps/api/api
apps/api/tmp/

# Env
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
